.layout {
  height: 100vmin;
}

.App {
  /* height: 100vmin; */
  /* height: 100%; */
}

.app-content {
  height: 100%;
  /* transition: all 2s;
  overflow-y: scroll;
  scroll-behavior: smooth; */
  /* display: flex ;
  flex-flow: column ; */
}